<!--@subject {{trans "Invoice and shipping confirmation of your order %order_number" order_number=$order.getIncrementId()}} @-->
<!--@vars {
"var formattedBillingAddress|raw":"Billing Address",
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var order.getCustomerName()":"Customer Name",
"var order.increment_id":"Order Id",
"var payment_html|raw":"Payment Details",
"var comment":"Shipment Comment",
"var shipment.increment_id":"Shipment Id",
"layout handle=\"sales_email_order_shipment_items\" shipment=$shipment order=$order":"Shipment Items Grid",
"block class='Magento\\\\Framework\\\\View\\\\Element\\\\Template' area='frontend' template='Magento_Sales::email\/shipment\/track.phtml' shipment=$shipment order=$order":"Shipment Track Details",
"var formattedShippingAddress|raw":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"var order.getShippingDescription()":"Shipping Description"
} @-->
{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{block class="Magento\\Framework\\View\\Element\\Template" area="crontab" 
                template="Shirtplatform_Core::email/greeting_new.phtml" order_id=$order_id}}</p>
            <p>
                {{trans "Your order <b>%order_number</b> has just left our logistics center and is expected to arrive within 1-3 working days. In the attachment you will find the invoice for your order." order_number=$order.getIncrementId() |raw}}
                {{block class='Magento\\Framework\\View\\Element\\Template' area='frontend' template='Shirtplatform_Shipping::email/shipment/track_new.phtml' shipment_id=$shipment_id order_id=$order_id}}
            </p>            
            {{depend store_hours}}
            <p>                                
                {{trans 'Our hours are <span class="no-link">%store_hours</span>.' store_hours=$store_hours |raw}}
            </p>
            {{/depend}}            
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}