<?php

/** @var $block \Magento\Shipping\Block\Adminhtml\View */ ?>
<?php $order = $block->getOrder() ?>
<?php
if ($order->getIsVirtual()) : return '';
endif;
?>

<?php /* Shipping Method */ ?>
<div class="admin__page-section-item order-shipping-method">
    <div class="admin__page-section-item-title">
        <span class="title"><?= /* @escapeNotVerified */ __('Shipping &amp; Handling Information') ?></span>
    </div>
    <div class="admin__page-section-item-content">
        <?php
        if ($order->getTracksCollection()->count() > 1) {
            foreach ($order->getTracksCollection() as $track) {
        ?>
                <p>
                    <a href="#" id="linkId_<?= (int)($track->getId()) ?>" title="<?= /* @escapeNotVerified */ __('Track Order') ?>">
                        <?php echo $escaper->escapeHtml(__('Track Shipment') . ' ' . $track->getTrackNumber()) ?>
                    </a>
                </p>
            <?php
                $eventListener = "event.preventDefault(); popWin('{$escaper->escapeJs($this->helper('Magento\Shipping\Helper\Data')->getTrackingPopupUrlBySalesModel($track))}', 
                        'trackorder', 'width=800,height=600,resizable=yes,scrollbars=yes')";
                /* @noEscape */
                echo $secureRenderer->renderEventListenerAsTag('onclick', $eventListener, '#linkId_' . (int)($track->getId()));
            }
        } elseif ($order->getTracksCollection()->count()) {
            $track = $order->getTracksCollection()->getFirstItem();
            ?>
            <p><a href="#" id="linkId" title="<?= /* @escapeNotVerified */ __('Track Order') ?>"><?= /* @escapeNotVerified */ __('Track Order') . ' - ' . $track->getTrackNumber() ?></a></p>
        <?php
            $eventListener = "event.preventDefault(); popWin('{$escaper->escapeJs($this->helper('Magento\Shipping\Helper\Data')->getTrackingPopupUrlBySalesModel($order))}', 
                        'trackorder', 'width=800,height=600,resizable=yes,scrollbars=yes')";
            /* @noEscape */
            echo $secureRenderer->renderEventListenerAsTag('onclick', $eventListener, '#linkId');
        }
        ?>

        <?php if ($order->getShippingDescription()) : ?>
            <strong><?= $escaper->escapeHtml($order->getShippingDescription()) ?></strong>

            <?php if ($this->helper('Magento\Tax\Helper\Data')->displayShippingPriceIncludingTax()) : ?>
                <?php $_excl = $block->displayShippingPriceInclTax($order); ?>
            <?php else : ?>
                <?php $_excl = $block->displayPriceAttribute('shipping_amount', false, ' '); ?>
            <?php endif; ?>
            <?php $_incl = $block->displayShippingPriceInclTax($order); ?>

            <?= /* @escapeNotVerified */ $_excl ?>
            <?php if ($this->helper('Magento\Tax\Helper\Data')->displayShippingBothPrices() && $_incl != $_excl) : ?>
                (<?= /* @escapeNotVerified */ __('Incl. Tax') ?> <?= /* @escapeNotVerified */ $_incl ?>)
            <?php endif; ?>
        <?php else : ?>
            <?= /* @escapeNotVerified */ __('No shipping information available') ?>
        <?php endif; ?>
    </div>
</div>