<?php /** @var $block Magento\Shipping\Block\Adminhtml\Order\Tracking\View */ ?>
<div class="admin__control-table-wrapper">
    <table class="data-table admin__control-table" id="shipment_tracking_info">
        <thead>
            <tr class="headings">
                <th class="col-carrier"><?= /* @escapeNotVerified */ __('Carrier') ?></th>
                <th class="col-title"><?= /* @escapeNotVerified */ __('Title') ?></th>
                <th class="col-number"><?= /* @escapeNotVerified */ __('Number') ?></th>
                <th class="col-delete last"><?= /* @escapeNotVerified */ __('Action') ?></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td class="col-carrier">
                    <select name="carrier"
                            class="select admin__control-select">
                                <?php foreach ($block->getCarriers() as $_code => $_name): ?>
                            <option value="<?= /* @escapeNotVerified */ $_code ?>"><?= $escaper->escapeHtml($_name) ?></option>
                        <?php endforeach; ?>
                    </select>
                    <?= /* @noEscape */ $secureRenderer->renderEventListenerAsTag(
                            'onchange',
                            'selectCarrier(this)',
                            "select[name='carrier']"
                        ) ?>
                </td>
                <td class="col-title">
                    <input class="input-text admin__control-text"
                           type="text"
                           id="tracking_title"
                           name="title"
                           value="" />
                </td>
                <td class="col-number">
                    <input class="input-text admin__control-text"
                           type="text"
                           id="tracking_number"
                           name="number"
                           value="" />
                </td>
                <td class="col-delete last"><?= $block->getSaveButtonHtml() ?></td>
            </tr>
        </tfoot>
        <?php $order = $block->getShipment()->getOrder(); ?>
        <?php if ($_tracks = $block->getShipment()->getAllTracks()): ?>
            <tbody>
                <?php
                $i = 0;
                foreach ($_tracks as $_track):$i++
                    ?>
                    <tr class="<?= /* @escapeNotVerified */ ($i % 2 == 0) ? 'even' : 'odd' ?>">
                        <td class="col-carrier"><?= $escaper->escapeHtml($block->getCarrierTitle($_track->getCarrierCode())) ?></td>
                        <td class="col-title"><?= $escaper->escapeHtml($_track->getTitle()) ?></td>
                        <td class="col-number">                            
                            <?php if ($_track->isCustom()): ?>
                                <?= $escaper->escapeHtml($_track->getNumber()) ?>
                            <?php elseif (!empty($_track->getTrackingUrl())): ?>
                                <a href="#" id="linkId_<?= (int)$_track->getId()?>"><?= $escaper->escapeHtml($_track->getNumber()) ?></a>
                                <?php
                                    $eventListener = "event.preventDefault(); popWin('{$escaper->escapeUrl($_track->getTrackingUrl())}')";
                                    /* @noEscape */ echo $secureRenderer->renderEventListenerAsTag('onclick', $eventListener, '#linkId_' . (int)$_track->getId());
                                ?>                            
                            <?php else: ?>                                
                                <a href="#" id="linkId_<?= (int)$_track->getId()?>"><?= $escaper->escapeHtml($_track->getNumber()) ?></a>
                                <div id="shipment_tracking_info_response_<?= /* @escapeNotVerified */ $_track->getId() ?>"></div>
                                <?php
                                    $eventListener = "event.preventDefault(); popWin('{$escaper->escapeUrl($this->helper('Magento\Shipping\Helper\Data')->getTrackingPopupUrlBySalesModel($_track))}', 'trackorder', 'width=800,height=600,resizable=yes,scrollbars=yes')";
                                    /* @noEscape */ echo $secureRenderer->renderEventListenerAsTag('onclick', $eventListener, '#linkId_' . (int)$_track->getId());
                                ?>
                            <?php endif; ?>
                        </td>
                        <td class="col-delete last"><button class="action-delete" type="button" onclick="deleteTrackingNumber('<?= $escaper->escapeUrl($block->getRemoveUrl($_track)) ?>'); return false;"><span><?= /* @escapeNotVerified */ __('Delete') ?></span></button></td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        <?php endif; ?>
    </table>
</div>

<?php $scriptString = <<<script

require(['prototype', 'jquery', 'Magento_Ui/js/modal/confirm'], function(prototype, \$j, confirm) {
//<![CDATA[
function selectCarrier(elem) {
    var option = elem.options[elem.selectedIndex];
    $('tracking_title').value = option.value && option.value != 'custom' ? option.text : '';
}

function saveTrackingInfo(node, url) {
    var form = \$j('#tracking-shipping-form');

    if (form.validation() && form.validation('isValid')) {
        submitAndReloadArea(node, url);
    }
}

function deleteTrackingNumber(url) {
    confirm({
        content: '{$block->escapeJs(__('Are you sure?'))}',
        actions: {
            /**
             * Confirm action.
             */
            confirm: function () {
                submitAndReloadArea($('shipment_tracking_info').parentNode, url);
            }
        }
    });
}

window.selectCarrier = selectCarrier;
window.deleteTrackingNumber = deleteTrackingNumber;
window.saveTrackingInfo = saveTrackingInfo;
//]]>

});

script;
?>
<?= /* @noEscape */ $secureRenderer->renderTag('script', [], $scriptString, false) ?>
