<?php
$zasielkovnaShippingMethodName = \Shirtplatform\Shipping\Model\Carrier\Shipping::ZASIELKOVNA_METHOD_NAME;
$script = <<<script
    window.zasielkovnaShippingMethodName = '{$zasielkovnaShippingMethodName}';    
script;

/* @noEscape */
echo $secureRenderer->renderTag('script', [], $script, false);

$quote = $block->getQuote();
$deliveryBranchId = $block->getDeliveryBranchId();
$deliveryBranchName = $block->getDeliveryBranchName();

if (!$quote->isVirtual() && $deliveryBranchId) {
    $sa = $quote->getShippingAddress();
    $street = join(' ', $sa->getStreet());
    $deliveryBranchName .= ' ' . $street . ' ' . $sa->getStreetNumber() . ', ' . $sa->getCity();
}
?>

<?php if ($block->getShippingMethod() === \Shirtplatform\Shipping\Model\Carrier\Shipping::ZASIELKOVNA_METHOD_NAME || $block->getShippingMethod() === 'packetery_pickupPointDelivery'): ?>
    <div id="branch-select-wrapper">
        <input type="button" id="branch-select-button" value="<?= __('Select a branch') ?>">
        <p>
            <span><?= __('Selected branch:'); ?></span>
            <input type="hidden" id="zasielkovna-branch-id" value="<?= $escaper->escapeHtmlAttr($deliveryBranchId) ?>">
            <span id="zasielkovna-branch-name"><?= $escaper->escapeHtml($deliveryBranchName) ?></span>
        </p>
    </div>

    <?php
    $script = <<<script
        const branchSelectWrapper = document.getElementById('branch-select-wrapper');
        const targetElement = document.querySelector('#order-shipping-method-info .admin__order-shipment-methods-options');
        
        if (branchSelectWrapper && targetElement) {                
            targetElement.appendChild(branchSelectWrapper);
        }        
    script;    

    /* @noEscape */
    echo $secureRenderer->renderTag('script', [], $script, false);

    /* @noEscape */
    echo $secureRenderer->renderEventListenerAsTag(
        'onclick',
        'Packeta.Widget.pick(zasielkovnaKey, showSelectedBranch, packetaOptions)',
        '#branch-select-button'
    );
    ?>
<?php endif; ?>