<?php
    /** @var \Shirtplatform\Core\Helper\Order $orderHelper */
    $orderHelper = $this->helper(\Shirtplatform\Core\Helper\Order::class);
    $order = $orderHelper->getOrderById($block->getOrderId());
    $shipment = $orderHelper->getShipmentById($block->getShipmentId());

    $dhlProviders = [
        Shirtplatform\Shipping\Helper\Data::PROVIDER_DHL_STANDARD,
        Shirtplatform\Shipping\Helper\Data::PROVIDER_DHL_EXPRESS_ONE_DAY
    ];
    $helper = $this->helper(\Shirtplatform\Shipping\Helper\Data::class);

    $allTracks = $shipment->getAllTracks();
    $firstTrack = reset($allTracks);
?>
<?php if ($shipment and $allTracks): ?>
    <?php echo __('This is the tracking information'); ?>: <br /><br />
    <?php if (in_array($shipment->getProviderId(), $dhlProviders)): ?>
        <table class="shipment-track-carrier">
            <tr>
                <td><b><?= /* @escapeNotVerified */ __('Shipped By') ?></b></td>
                <td><?= $block->escapeHtml($firstTrack->getTitle()) ?></td>
            </tr>
        </table>
        <br/><br/>
        <table class="shipment-track">
            <thead>
                <tr>                    
                    <th><?= /* @escapeNotVerified */ __('Tracking Number') ?></th>                    
                    <th><?= /* @escapeNotVerified */ __('Tracking Link') ?></th>                    
                </tr>
            </thead>
            <tbody>
                <?php foreach ($allTracks as $track): ?>
                    <tr>                        
                        <td><?= $block->escapeHtml($track->getNumber()) ?></td>                              
                        <td><?php echo $helper->getDhlTrackingLink($track) ?></td>                        
                    </tr>
                <?php endforeach ?>
            </tbody>
        </table>
    <?php else: ?>
        <table class="shipment-track">
            <thead>
                <tr>
                    <th><?= /* @escapeNotVerified */ __('Shipped By') ?></th>
                    <th><?= /* @escapeNotVerified */ __('Tracking Number') ?></th>                                        
                </tr>
            </thead>
            <tbody>
                <?php foreach ($shipment->getAllTracks() as $track): ?>
                    <tr>
                        <td><?= $block->escapeHtml($track->getTitle()) ?>:</td>
                        <td><?= $block->escapeHtml($track->getNumber()) ?></td>                                                          
                    </tr>
                <?php endforeach ?>
            </tbody>
        </table>
    <?php endif; ?>
    <br /><br />
<?php else: ?>
    <br /><br />
    <b><?php echo __('Shipping Method'); ?> - </b> <?php echo $order->getShippingDescription(); ?>
    <br /><br />
<?php endif; ?>